{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.secapi.dev","description":"Generated server url"}],"tags":[{"name":"Filings","description":"Query and retrieve SEC filings and filing documents"},{"name":"Entities","description":"SEC registrants (identity: CIK, ticker, entity class)"},{"name":"Financials","description":"Company financials from SEC data."},{"name":"Insiders","description":"Insider transactions, ownership, activity, and related signals"},{"name":"Institutions","description":"Institutional investors (13F): portfolios, ownership, flows, and smart-money activity"}],"paths":{"/v1/filings":{"get":{"tags":["search","Filings"],"summary":"List filings","description":"Returns SEC filings with pagination metadata and the normalized filters used for the query.","operationId":"filings.list","parameters":[{"name":"page","in":"query","description":"1-based page number","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"formTypes","in":"query","description":"Comma-separated form types to include","required":false,"schema":{"type":"string"},"example":"10-K,8-K,4"},{"name":"cik","in":"query","description":"Filter by company CIK","required":false,"schema":{"type":"string"},"example":"0000320193"},{"name":"ticker","in":"query","description":"Filter by ticker symbol","required":false,"schema":{"type":"string"},"example":"AAPL"},{"name":"startDate","in":"query","description":"Include filings on or after this filing date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-01-01"},{"name":"endDate","in":"query","description":"Include filings on or before this filing date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-12-31"}],"responses":{"200":{"description":"Filings returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FilingsListResponse"}}}}}}},"/v1/filings/form-types":{"get":{"tags":["search","Filings"],"summary":"List available form types","description":"Returns active SEC form types from the database with pagination metadata, for use in the filings filter UI.","operationId":"filings.formTypes","parameters":[{"name":"page","in":"query","description":"1-based page number","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"Form types returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FilingFormTypesListResponse"}}}}}}},"/v1/filings/{accessionNumber}":{"get":{"tags":["document","Filings"],"summary":"Get filings by accession number","description":"Returns every filing that matches the given SEC accession number.","operationId":"filings.byAccessionNumber","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilingDTO"}}}}}}}},"/v1/filings/{cik}/{accessionNumber}":{"get":{"tags":["document","Filings"],"summary":"Get a filing by CIK and accession number","description":"Returns a single filing identified by the unique CIK and accession number pair.","operationId":"filings.byCikAndAccessionNumber","parameters":[{"name":"cik","in":"path","description":"Company CIK","required":true,"schema":{"type":"string"},"example":"0001548760"},{"name":"accessionNumber","in":"path","description":"SEC accession number","required":true,"schema":{"type":"string"},"example":"0000950103-25-014304"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FilingDTO"}}}}}}},"/v1/filings/{cik}/{accessionNumber}/documents":{"get":{"tags":["document","Filings"],"summary":"List filing documents","description":"Returns the documents that belong to a filing identified by CIK and accession number.","operationId":"filings.documents","parameters":[{"name":"cik","in":"path","description":"Company CIK","required":true,"schema":{"type":"string"},"example":"0001065280"},{"name":"accessionNumber","in":"path","description":"SEC accession number","required":true,"schema":{"type":"string"},"example":"0001065280-25-000033"}],"responses":{"200":{"description":"Filing documents returned successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilingDocumentDTO"}}}}}}}},"/v1/entities":{"get":{"tags":["search","Entities"],"summary":"List entities","description":"Returns SEC entities with pagination and the normalized filters used for the query.","operationId":"entities.list","parameters":[{"name":"page","in":"query","description":"1-based page number","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"cik","in":"query","description":"Filter by CIK (digits; zero-padding optional)","required":false,"schema":{"type":"string"},"example":"0000320193"},{"name":"ticker","in":"query","description":"Filter by primary ticker","required":false,"schema":{"type":"string"},"example":"AAPL"},{"name":"entityType","in":"query","description":"Filter by entity class","required":false,"schema":{"type":"string"},"example":"company"},{"name":"q","in":"query","description":"Case-insensitive substring match on entity name","required":false,"schema":{"type":"string"},"example":"Apple"}],"responses":{"200":{"description":"Entities returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntitiesListResponse"}}}}}}},"/v1/entities/sic-codes":{"get":{"tags":["search","Entities"],"summary":"List available SIC codes","description":"Returns SEC Standard Industrial Classification codes from the database with pagination metadata, for use in entity filters and reference lookups.","operationId":"entities.sicCodes","parameters":[{"name":"page","in":"query","description":"1-based page number","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"SIC codes returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntitySicListResponse"}}}}}}},"/v1/entities/{identifier}":{"get":{"tags":["company","Entities"],"summary":"Get entity by CIK or ticker","description":"Resolves the path segment as a 10-digit CIK when it is numeric, otherwise as a primary ticker symbol.","operationId":"entities.byIdentifier","parameters":[{"name":"identifier","in":"path","description":"CIK (digits only) or ticker symbol","required":true,"schema":{"type":"string"},"example":"0000320193"}],"responses":{"200":{"description":"Entity found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityDTO"}}}},"404":{"description":"No entity matches the identifier","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityDTO"}}}}}}},"/v1/entities/{identifier}/filings":{"get":{"tags":["relations","Entities"],"summary":"List filings for an entity","description":"Returns filings for the entity resolved by CIK (numeric) or primary ticker, using the same filters as the filings collection.","operationId":"entities.filings","parameters":[{"name":"identifier","in":"path","description":"CIK (digits only, e.g. 0000320193) or ticker symbol (e.g. AAPL)","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"page","in":"query","description":"1-based page number","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Maximum number of results per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"formTypes","in":"query","description":"Comma-separated form types to include","required":false,"schema":{"type":"string"},"example":"10-K,8-K,4"},{"name":"startDate","in":"query","description":"Include filings on or after this filing date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-01-01"},{"name":"endDate","in":"query","description":"Include filings on or before this filing date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-12-31"}],"responses":{"200":{"description":"Filings returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FilingsListResponse"}}}}}}},"/v1/financials/companies/search":{"get":{"tags":["Financials","xbrl"],"summary":"Company and filing list","description":"Ticker, CIK, paged filings","operationId":"financials.companies.search","parameters":[{"name":"ticker","in":"query","description":"Exact ticker symbol (case-insensitive). Ignored when `cik` is supplied.","required":false,"schema":{"type":"string"},"example":"AAPL"},{"name":"cik","in":"query","description":"Numeric CIK (zero-padding optional; padded on output). Takes precedence over `ticker`.","required":false,"schema":{"type":"string"},"example":"0000320193"},{"name":"limit","in":"query","description":"Maximum filings to return per page (capped at 100)","required":false,"schema":{"type":"integer","format":"int32","default":25},"example":25},{"name":"page","in":"query","description":"Page number (first page is 1)","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1}],"responses":{"200":{"description":"Company and filings","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompaniesSearchResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/concepts/search":{"get":{"tags":["Financials","xbrl"],"summary":"Line item name search","description":"Labels, codes, taxonomy","operationId":"financials.concepts.search","parameters":[{"name":"q","in":"query","description":"Search words (matches names, codes, or descriptions)","required":true,"schema":{"type":"string"},"example":"revenue"},{"name":"version","in":"query","description":"Optional reporting ruleset version (partial match)","required":false,"schema":{"type":"string"},"example":"us-gaap/2024"},{"name":"custom","in":"query","description":"true = company-specific custom lines only; false = standard lines only","required":false,"schema":{"type":"boolean"},"example":false},{"name":"limit","in":"query","description":"Maximum rows to return per page","required":false,"schema":{"type":"integer","format":"int32","default":50},"example":50},{"name":"page","in":"query","description":"Page number (first page is 1)","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1}],"responses":{"200":{"description":"Concept result rows","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConceptsListResponse"}}}}}}},"/v1/financials/filings/{accessionNumber}/xbrl":{"get":{"tags":["Financials","xbrl"],"summary":"XBRL statements","description":"Optional roleUri filter","operationId":"financials.filing.xbrl","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"roleUri","in":"query","description":"Optional keyword to narrow to one statement section (partial match on statement id)","required":false,"schema":{"type":"string"},"example":"CONSOLIDATEDSTATEMENTSOFOPERATIONS"}],"responses":{"200":{"description":"XBRL statement block","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialXbrlDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing data not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"500":{"description":"Something went wrong on our side. Please try again in a moment.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/income-statement":{"get":{"tags":["Financials","statements"],"summary":"Income statement","description":"As-reported income statement presentation grid by SEC accession (10-K / 10-Q)","operationId":"financials.filing.incomeStatement","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"Statement line grid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFinancialStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing or statement missing","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/balance-sheet":{"get":{"tags":["Financials","statements"],"summary":"Balance sheet","description":"As-reported balance sheet presentation grid by SEC accession (10-K / 10-Q)","operationId":"financials.filing.balanceSheet","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"Statement line grid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFinancialStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing or statement missing","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/cash-flow":{"get":{"tags":["Financials","statements"],"summary":"Cash flow statement","description":"As-reported cash flow statement presentation grid by SEC accession (10-K / 10-Q)","operationId":"financials.filing.cashFlow","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"Statement line grid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFinancialStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing or statement missing","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/stockholders-equity":{"get":{"tags":["Financials","statements"],"summary":"Stockholders equity","description":"As-reported stockholders equity presentation grid by SEC accession (10-K / 10-Q)","operationId":"financials.filing.stockholdersEquity","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"Statement line grid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFinancialStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing or statement missing","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/comprehensive-income":{"get":{"tags":["Financials","statements"],"summary":"Comprehensive income","description":"As-reported comprehensive income presentation grid by SEC accession (10-K / 10-Q)","operationId":"financials.filing.comprehensiveIncome","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"}],"responses":{"200":{"description":"Statement line grid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFinancialStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Filing or statement missing","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/filings/{accessionNumber}/statements/income-statement/standardized":{"get":{"tags":["Financials","statements"],"summary":"Income statement standardized","description":"Standardized income statement by SEC accession. Optional period end date and quarter span.","operationId":"financials.filing.incomeStatement.standardized","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"endDate","in":"query","description":"Optional reporting period end date (YYYYMMDD)","required":false,"schema":{"type":"integer","format":"int32"},"example":20240928},{"name":"qtrs","in":"query","description":"Optional number of fiscal quarters spanned","required":false,"schema":{"type":"integer","format":"int32"},"example":4}],"responses":{"200":{"description":"Standardized statement","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CanonicalIncomeStatementDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Standardized statement not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"500":{"description":"Something went wrong on our side. Please try again in a moment.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}},"x-required-feature":"SEC_API_ENDPOINTS","x-minimum-plan":"LITE"}},"/v1/financials/filings/{accessionNumber}/statements/balance-sheet/standardized":{"get":{"tags":["Financials","statements"],"summary":"Balance sheet standardized","description":"Standardized balance sheet by SEC accession. Optional period end date.","operationId":"financials.filing.balanceSheet.standardized","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"endDate","in":"query","description":"Optional reporting period end date (YYYYMMDD)","required":false,"schema":{"type":"integer","format":"int32"},"example":20240928},{"name":"qtrs","in":"query","description":"Optional number of fiscal quarters spanned (not applicable to balance sheet)","required":false,"schema":{"type":"integer","format":"int32"},"example":4}],"responses":{"200":{"description":"Standardized statement","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CanonicalBalanceSheetDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Standardized statement not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"500":{"description":"Something went wrong on our side. Please try again in a moment.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}},"x-required-feature":"SEC_API_ENDPOINTS","x-minimum-plan":"LITE"}},"/v1/financials/filings/{accessionNumber}/statements/cash-flow/standardized":{"get":{"tags":["Financials","statements"],"summary":"Cash flow statement standardized","description":"Standardized cash flow statement by SEC accession. Optional period end date and quarter span.","operationId":"financials.filing.cashFlow.standardized","parameters":[{"name":"accessionNumber","in":"path","description":"SEC accession number (filing id)","required":true,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"endDate","in":"query","description":"Optional reporting period end date (YYYYMMDD)","required":false,"schema":{"type":"integer","format":"int32"},"example":20240928},{"name":"qtrs","in":"query","description":"Optional number of fiscal quarters spanned","required":false,"schema":{"type":"integer","format":"int32"},"example":4}],"responses":{"200":{"description":"Standardized statement","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CanonicalCashFlowDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Standardized statement not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"500":{"description":"Something went wrong on our side. Please try again in a moment.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}},"x-required-feature":"SEC_API_ENDPOINTS","x-minimum-plan":"LITE"}},"/v1/financials/metrics":{"get":{"tags":["Financials","metrics"],"summary":"Metrics across periods","description":"Time-series values for raw SEC tags and/or canonical metrics across filings. Search by ticker or CIK.","operationId":"financials.company.metrics","parameters":[{"name":"cik","in":"query","description":"Company CIK (zero-padding optional). Takes precedence over ticker.","required":false,"schema":{"type":"string"},"example":"0000320193"},{"name":"ticker","in":"query","description":"Ticker symbol (alternative to cik)","required":false,"schema":{"type":"string"},"example":"AAPL"},{"name":"symbols","in":"query","description":"Comma-separated canonical metric storage keys and/or raw SEC tag local names","required":true,"schema":{"type":"string","enum":["revenue","cost_of_revenue","gross_profit","research_and_development","selling_general_and_administrative","selling_and_marketing","general_and_administrative","operating_expenses","total_costs_and_expenses","operating_income_loss","ebit","interest_income","interest_expense","nonoperating_income_expense","income_before_tax","income_tax_expense_benefit","net_income_loss","net_income_loss_attributable_to_parent","net_income_loss_available_to_common_stockholders","cash_and_cash_equivalents","short_term_investments","cash_and_short_term_investments","accounts_receivable_net","inventory","prepaid_expenses_and_other_current_assets","other_current_assets","current_assets","property_plant_equipment_net","operating_lease_right_of_use_assets","goodwill","intangible_assets_net","goodwill_and_intangible_assets_net","long_term_investments","deferred_tax_assets","other_noncurrent_assets","total_assets","accounts_payable","accrued_liabilities","deferred_revenue_current","deferred_revenue_noncurrent","short_term_debt","current_portion_of_long_term_debt","operating_lease_liabilities_current","current_liabilities","long_term_debt","operating_lease_liabilities_noncurrent","operating_lease_liabilities","deferred_tax_liabilities_noncurrent","other_noncurrent_liabilities","total_liabilities","preferred_stock","common_stock_and_additional_paid_in_capital","common_stock_value","additional_paid_in_capital","retained_earnings_accumulated_deficit","accumulated_other_comprehensive_income_loss","treasury_stock","stockholders_equity","noncontrolling_interest","total_equity","liabilities_and_equity","cfo","depreciation_depletion_and_amortization","stock_based_compensation","change_in_accounts_receivable","change_in_inventory","change_in_accounts_payable","change_in_operating_assets_and_liabilities","cfi","capital_expenditures","acquisitions_net","purchases_of_investments","proceeds_from_investments","cff","dividends_paid","share_repurchases","debt_issued","debt_repaid","effect_of_exchange_rate_on_cash","net_change_in_cash","cash_and_cash_equivalents_beginning_of_period","cash_and_cash_equivalents_end_of_period"]},"example":"revenue,net_income_loss"},{"name":"source","in":"query","description":"Metric source to query","required":false,"schema":{"type":"string","enum":["raw","canonical","all"]},"example":"all"},{"name":"version","in":"query","description":"Optional taxonomy version filter for raw SEC tags","required":false,"schema":{"type":"string"},"example":"us-gaap/2024"},{"name":"startDate","in":"query","description":"Include periods ending on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2020-01-01"},{"name":"endDate","in":"query","description":"Include periods ending on or before this date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-12-31"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 0 = instant, 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum periods to return per metric","required":false,"schema":{"type":"integer","format":"int32"},"example":40}],"responses":{"200":{"description":"Metric time series","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialMetricSeriesResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Metric time series not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/ratios":{"get":{"tags":["Financials","ratios"],"summary":"Financial ratios","description":"Precalculated ratio metrics from canonical SEC data. Search by ticker or CIK.","operationId":"financials.company.ratios","parameters":[{"name":"cik","in":"query","description":"Company CIK (zero-padding optional). Takes precedence over ticker.","required":false,"schema":{"type":"string"},"example":"0000320193"},{"name":"ticker","in":"query","description":"Ticker symbol (alternative to cik)","required":false,"schema":{"type":"string"},"example":"AAPL"},{"name":"ratio","in":"query","description":"Comma-separated ratio identifiers. Omit for all ratios in the group.","required":false,"schema":{"type":"string"},"example":"gross_margin,current_ratio"},{"name":"group","in":"query","description":"Ratio group filter","required":false,"schema":{"type":"string","enum":["liquidity","leverage","profitability","efficiency","all"]},"example":"profitability"},{"name":"startDate","in":"query","description":"Include periods ending on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2020-01-01"},{"name":"endDate","in":"query","description":"Include periods ending on or before this date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-12-31"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 0 = instant, 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum periods to return per ratio","required":false,"schema":{"type":"integer","format":"int32"},"example":40}],"responses":{"200":{"description":"Precalculated ratio time series","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialRatioSeriesResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Calculated ratios not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/metrics/top":{"get":{"tags":["Financials","metrics"],"summary":"Top companies by canonical metric","description":"Ranks companies by comparable annual or quarterly canonical metric values.","operationId":"financials.metrics.topCompanies","parameters":[{"name":"metric","in":"query","description":"Canonical metric storage key, such as revenue or total_assets","required":true,"schema":{"type":"string"},"example":"revenue"},{"name":"quarterly","in":"query","description":"true = quarterly ranking, false or omitted = annual ranking","required":false,"schema":{"type":"boolean"},"example":false},{"name":"year","in":"query","description":"Fiscal/calendar year to rank. For annual requests, omit it to use the latest completed year.","required":false,"schema":{"type":"integer","format":"int32"},"example":2025},{"name":"quarter","in":"query","description":"Quarter number for quarterly rankings. Defaults to the current quarter when quarterly=true.","required":false,"schema":{"type":"string","enum":["1","2","3","4"]},"example":2},{"name":"limit","in":"query","description":"Maximum companies to return","required":false,"schema":{"type":"integer","format":"int32"},"example":10}],"responses":{"200":{"description":"Companies ranked by canonical metric","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialMetricRankingResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Metric ranking not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/ratios/top":{"get":{"tags":["Financials","ratios"],"summary":"Top companies by calculated ratio","description":"Ranks companies by the latest comparable calculated ratio value. Example: top companies by gross margin.","operationId":"financials.ratios.topCompanies","parameters":[{"name":"ratio","in":"query","description":"Single ratio identifier to rank","required":false,"schema":{"type":"string"},"example":"gross_margin"},{"name":"group","in":"query","description":"Ratio group filter","required":false,"schema":{"type":"string","enum":["liquidity","leverage","profitability","efficiency","all"]},"example":"profitability"},{"name":"startDate","in":"query","description":"Include periods ending on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2020-01-01"},{"name":"endDate","in":"query","description":"Include periods ending on or before this date","required":false,"schema":{"type":"string","format":"date"},"example":"2025-12-31"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 0 = instant, 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum companies to return","required":false,"schema":{"type":"integer","format":"int32"},"example":10}],"responses":{"200":{"description":"Companies ranked by calculated ratio","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialRatioRankingResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Ratio ranking not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments":{"get":{"tags":["Financials","segments"],"summary":"Segment revenue breakdown","description":"Product/service, geography, business, or raw axis revenue breakdowns by fiscal period.","operationId":"financials.company.segments","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"ProductOrServiceAxis"},{"name":"segmentType","in":"query","description":"Segment type filter. One or more of: product, service, geography, business, other.","required":false,"schema":{"type":"string"},"example":"geography"},{"name":"period","in":"query","description":"Fiscal or calendar period label","required":false,"schema":{"type":"string"},"example":"2024Q4"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"accessionNumber","in":"query","description":"SEC accession number to scope to one filing","required":false,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"limit","in":"query","description":"Maximum segment rows","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments/geography":{"get":{"tags":["Financials","segments"],"summary":"Geographic segment revenue breakdown","description":"Geography segment revenue breakdown by fiscal period. Equivalent to /segments with segmentType=geography.","operationId":"financials.company.segments.geography","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"StatementGeographicalAxis"},{"name":"period","in":"query","description":"Fiscal or calendar period label","required":false,"schema":{"type":"string"},"example":"2024Q4"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"accessionNumber","in":"query","description":"SEC accession number to scope to one filing","required":false,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"limit","in":"query","description":"Maximum segment rows","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Geographic segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Geographic segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments/product-service":{"get":{"tags":["Financials","segments"],"summary":"Product and service segment revenue breakdown","description":"Product and service segment revenue breakdown by fiscal period. Equivalent to /segments with segmentType=product,service.","operationId":"financials.company.segments.productService","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"ProductOrServiceAxis"},{"name":"period","in":"query","description":"Fiscal or calendar period label","required":false,"schema":{"type":"string"},"example":"2024Q4"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"accessionNumber","in":"query","description":"SEC accession number to scope to one filing","required":false,"schema":{"type":"string"},"example":"0000320193-26-000006"},{"name":"limit","in":"query","description":"Maximum segment rows","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Product and service segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Product and service segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments/compare":{"get":{"tags":["Financials","segments"],"summary":"Segment revenue breakdown across periods","description":"Compares product/service, geography, business, or raw axis revenue breakdowns across fiscal periods.","operationId":"financials.company.segments.compare","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"ProductOrServiceAxis"},{"name":"segmentType","in":"query","description":"Segment type filter. One or more of: product, service, geography, business, other.","required":false,"schema":{"type":"string"},"example":"geography"},{"name":"periods","in":"query","description":"Comma-separated fiscal period labels","required":false,"schema":{"type":"string"},"example":"2023,2024"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"Segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments/geography/compare":{"get":{"tags":["Financials","segments"],"summary":"Geographic segment revenue breakdown across periods","description":"Compares geography segment revenue breakdowns across fiscal periods. Equivalent to /segments/compare with segmentType=geography.","operationId":"financials.company.segments.geography.compare","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"StatementGeographicalAxis"},{"name":"periods","in":"query","description":"Comma-separated fiscal period labels","required":false,"schema":{"type":"string"},"example":"2023,2024"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"Geographic segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Geographic segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/financials/{issuer}/segments/product-service/compare":{"get":{"tags":["Financials","segments"],"summary":"Product and service segment revenue breakdown across periods","description":"Compares product and service segment revenue breakdowns across fiscal periods. Equivalent to /segments/compare with segmentType=product,service.","operationId":"financials.company.segments.productService.compare","parameters":[{"name":"issuer","in":"path","description":"Company CIK (digits) or ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"metric","in":"query","description":"Canonical metric to break down. Currently supports revenue.","required":false,"schema":{"type":"string"},"example":"revenue"},{"name":"axis","in":"query","description":"Optional XBRL axis filter","required":false,"schema":{"type":"string"},"example":"ProductOrServiceAxis"},{"name":"periods","in":"query","description":"Comma-separated fiscal period labels","required":false,"schema":{"type":"string"},"example":"2023,2024"},{"name":"qtrs","in":"query","description":"Optional fiscal quarter span filter: 1 = quarter, 4 = annual","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"Product and service segment revenue breakdown grouped by fiscal period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinancialSegmentResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Product and service segment revenue breakdown not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/transactions":{"get":{"tags":["trades","Insiders"],"summary":"Global insider transactions","description":"Cross-company insider transaction feed with optional filters.","operationId":"insiders.transactions","parameters":[{"name":"acquiredDisposed","in":"query","description":"Acquired (A) or disposed (D)","required":false,"schema":{"type":"string"},"example":"A"},{"name":"transactionCode","in":"query","description":"SEC transaction code","required":false,"schema":{"type":"string"},"example":"P"},{"name":"derivative","in":"query","description":"When false, exclude derivative rows","required":false,"schema":{"type":"boolean"},"example":false},{"name":"insiderRole","in":"query","description":"Filter by reported insider role","required":false,"schema":{"type":"string"},"example":"CEO"},{"name":"minValue","in":"query","description":"Minimum transaction value (USD)","required":false,"schema":{"type":"integer","format":"int64"},"example":100000},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"acceptedFrom","in":"query","description":"Include SEC filings accepted on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"transactionFrom","in":"query","description":"Include transactions dated on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"}],"responses":{"200":{"description":"Insider transaction feed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderTransactionsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/companies":{"get":{"tags":["companies","Insiders"],"summary":"Companies with insider data","description":"Directory of companies with Form 4 insider filings.","operationId":"insiders.companies","parameters":[{"name":"q","in":"query","description":"Substring on issuer name, ticker, or CIK","required":false,"schema":{"type":"string"},"example":"Apple"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Companies with insider data returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderCompaniesResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/persons":{"get":{"tags":["Insiders","people"],"summary":"Insider persons index","description":"Directory or search over insider persons from the insider ownership snapshot.","operationId":"insiders.persons","parameters":[{"name":"q","in":"query","description":"Substring on reporter name or CIK","required":false,"schema":{"type":"string"},"example":"Cook"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Insider persons returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderPersonsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/statistics":{"get":{"tags":["analytics","Insiders"],"summary":"Global insider statistics","description":"Aggregated Form 4 insider statistics across all covered issuers.","operationId":"insiders.statistics","responses":{"200":{"description":"Global insider statistics returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderStatisticsResponse"}}}}}}},"/v1/insiders/activity/buying":{"get":{"tags":["trades","Insiders"],"summary":"Global insider buying activity","description":"Recent acquisition activity across all covered companies.","operationId":"insiders.activityBuying","parameters":[{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"from","in":"query","description":"Include transactions dated on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"end","in":"query","description":"Include transactions dated on or before this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-03-31"}],"responses":{"200":{"description":"Global insider buying activity returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderTransactionsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/activity/selling":{"get":{"tags":["trades","Insiders"],"summary":"Global insider selling activity","description":"Recent disposal activity across all covered companies.","operationId":"insiders.activitySelling","parameters":[{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"from","in":"query","description":"Include transactions dated on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"end","in":"query","description":"Include transactions dated on or before this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-03-31"}],"responses":{"200":{"description":"Global insider selling activity returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderTransactionsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/activity/daily/top-buyers":{"get":{"tags":["analytics","Insiders"],"summary":"Daily top insider buyers","description":"Issuers ranked by total insider buy transaction value on a single transaction date (precomputed snapshot).","operationId":"insiders.activityDailyTopBuyers","parameters":[{"name":"date","in":"query","description":"Transaction date for the leaderboard (defaults to the latest snapshot date)","required":false,"schema":{"type":"string","format":"date"},"example":"2025-07-31"},{"name":"limit","in":"query","description":"Maximum ranked issuers to return","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"200":{"description":"Daily top insider buyers returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderDailyActivityResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No daily activity snapshot data is available for the requested date","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/activity/daily/top-sellers":{"get":{"tags":["analytics","Insiders"],"summary":"Daily top insider sellers","description":"Issuers ranked by total insider sell transaction value on a single transaction date (precomputed snapshot).","operationId":"insiders.activityDailyTopSellers","parameters":[{"name":"date","in":"query","description":"Transaction date for the leaderboard (defaults to the latest snapshot date)","required":false,"schema":{"type":"string","format":"date"},"example":"2025-07-31"},{"name":"limit","in":"query","description":"Maximum ranked issuers to return","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"200":{"description":"Daily top insider sellers returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderDailyActivityResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No daily activity snapshot data is available for the requested date","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/{ticker}/transactions":{"get":{"tags":["trades","Insiders"],"summary":"Insider transactions for a company","description":"Form 4–style transactions for the given ticker.","operationId":"insiders.byTicker.transactions","parameters":[{"name":"ticker","in":"path","description":"Primary ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"acquiredDisposed","in":"query","description":"Acquired (A) or disposed (D)","required":false,"schema":{"type":"string"},"example":"A"},{"name":"transactionCode","in":"query","description":"SEC transaction code","required":false,"schema":{"type":"string"},"example":"P"},{"name":"derivative","in":"query","description":"When false, exclude derivative rows","required":false,"schema":{"type":"boolean"},"example":false},{"name":"insiderRole","in":"query","description":"Filter by reported insider role","required":false,"schema":{"type":"string"},"example":"CEO"},{"name":"minValue","in":"query","description":"Minimum transaction value (USD)","required":false,"schema":{"type":"integer","format":"int64"},"example":100000},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"acceptedFrom","in":"query","description":"Include SEC filings accepted on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"transactionFrom","in":"query","description":"Include transactions dated on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"}],"responses":{"200":{"description":"Company insider transactions returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderTransactionsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/{ticker}/owners":{"get":{"tags":["companies","Insiders"],"summary":"Insider owners for a company","description":"Reporting owners and beneficial holders at the company, ranked by current included shares descending.","operationId":"insiders.byTicker.owners","parameters":[{"name":"ticker","in":"path","description":"Primary ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"},{"name":"includeDerivative","in":"query","description":"When true, include derivative ownership positions. Defaults to false.","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"includeNonDerivative","in":"query","description":"When false, exclude non-derivative ownership positions. Defaults to true.","required":false,"schema":{"type":"boolean","default":true},"example":true},{"name":"activeSince","in":"query","description":"Only include ownership positions updated on or after this date. Defaults to five years ago.","required":false,"schema":{"type":"string","format":"date"},"example":"2021-05-21"},{"name":"limit","in":"query","description":"Maximum owners to return","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Company insider owners returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderOwnersResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/{ticker}/buy-sell-ratio":{"get":{"tags":["analytics","Insiders"],"summary":"Buy vs sell ratio for a company","description":"Form 4 lifetime buy and sell transaction counts from the insider transaction snapshot.","operationId":"insiders.byTicker.buySellRatio","parameters":[{"name":"ticker","in":"path","description":"Primary ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"Company insider buy/sell ratio returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderBuySellRatioResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Insider transaction snapshot was not found for the ticker","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/{ticker}/net-shares":{"get":{"tags":["analytics","Insiders"],"summary":"Net insider shares for a company","description":"Form 4 lifetime shares acquired, disposed, and net shares from the insider transaction snapshot.","operationId":"insiders.byTicker.netShares","parameters":[{"name":"ticker","in":"path","description":"Primary ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"Company insider net shares returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderNetSharesResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Insider transaction snapshot was not found for the ticker","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/{ticker}/net-value":{"get":{"tags":["analytics","Insiders"],"summary":"Net insider transaction value for a company","description":"Form 4 lifetime transaction value acquired, disposed, and net value from the insider transaction snapshot.","operationId":"insiders.byTicker.netValue","parameters":[{"name":"ticker","in":"path","description":"Primary ticker symbol","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"Company insider net transaction value returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderNetValueResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Insider transaction snapshot was not found for the ticker","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/person/{cik}":{"get":{"tags":["Insiders","people"],"summary":"Insider person profile","description":"Profile for an insider identified by reporting owner CIK.","operationId":"insiders.byPerson.profile","parameters":[{"name":"cik","in":"path","description":"Insider CIK (10 digits)","required":true,"schema":{"type":"string"},"example":"0001214123"}],"responses":{"200":{"description":"Insider person profile returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderPersonDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"Insider person was not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/person/{cik}/transactions":{"get":{"tags":["trades","Insiders"],"summary":"Transactions for an insider person","description":"Form 4 transactions for the insider across companies.","operationId":"insiders.byPerson.transactions","parameters":[{"name":"cik","in":"path","description":"Insider CIK (10 digits)","required":true,"schema":{"type":"string"},"example":"0001214123"},{"name":"acquiredDisposed","in":"query","description":"Acquired (A) or disposed (D)","required":false,"schema":{"type":"string"},"example":"A"},{"name":"transactionCode","in":"query","description":"SEC transaction code","required":false,"schema":{"type":"string"},"example":"P"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"acceptedFrom","in":"query","description":"Include SEC filings accepted on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"transactionFrom","in":"query","description":"Include transactions dated on or after this date","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"}],"responses":{"200":{"description":"Insider person transactions returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderTransactionsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/person/{cik}/holdings":{"get":{"tags":["Insiders","people"],"summary":"Holdings for an insider person","description":"Current positive ownership snapshot positions for the insider across issuers, excluding expired derivative positions.","operationId":"insiders.byPerson.holdings","parameters":[{"name":"cik","in":"path","description":"Insider CIK (10 digits)","required":true,"schema":{"type":"string"},"example":"0001214123"}],"responses":{"200":{"description":"Insider person holdings returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderHoldingsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/person/{cik}/holdings/summary":{"get":{"tags":["Insiders","people"],"summary":"Holdings summary for an insider person","description":"Aggregated current positive ownership snapshot positions grouped by issuer for the insider, excluding expired derivative positions. Totals are heuristic sums of snapshot positions, not SEC-certified total beneficial ownership; double-counting or omission is possible across trusts, ownership forms, derivatives, and share classes. Class A, Class B, and other security titles are kept separate in securityTypes and are also included in issuer-level totals.","operationId":"insiders.byPerson.holdingsSummary","parameters":[{"name":"cik","in":"path","description":"Insider CIK (10 digits)","required":true,"schema":{"type":"string"},"example":"0001214123"},{"name":"includeDerivative","in":"query","description":"When false, exclude derivative ownership positions. Defaults to true.","required":false,"schema":{"type":"boolean","default":true},"example":true},{"name":"includeNonDerivative","in":"query","description":"When false, exclude non-derivative ownership positions. Defaults to true.","required":false,"schema":{"type":"boolean","default":true},"example":true}],"responses":{"200":{"description":"Insider person holdings summary returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderHoldingsSummaryResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/insiders/person/{cik}/ownership":{"get":{"tags":["Insiders","people"],"summary":"Ownership for an insider person","description":"Current positive beneficial ownership snapshot positions for this insider, excluding expired derivative positions.","operationId":"insiders.byPerson.ownership","parameters":[{"name":"cik","in":"path","description":"Insider CIK (10 digits)","required":true,"schema":{"type":"string"},"example":"0001214123"}],"responses":{"200":{"description":"Insider person ownership returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsiderHoldingsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions":{"get":{"tags":["entities","Institutions"],"summary":"Institutional filers","description":"List of institutional managers that file Form 13F. Portfolio values are absolute USD.","operationId":"institutions.list","parameters":[{"name":"q","in":"query","description":"Substring on name","required":false,"schema":{"type":"string"},"example":"Vanguard"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Institutional filers returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionsListResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}":{"get":{"tags":["entities","Institutions"],"summary":"Institution by CIK","description":"Basic record for a manager identified by SEC CIK (10-digit string).","operationId":"institutions.byCik","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"}],"responses":{"200":{"description":"Institution found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution matches the CIK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/profile":{"get":{"tags":["entities","Institutions"],"summary":"Institution profile","description":"Profile for an institutional manager: name, CIK, selected filing, portfolio value (absolute USD), position count, and related filing stats.","operationId":"institutions.profile","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label for snapshot fields","required":false,"schema":{"type":"string"},"example":"2024Q3"}],"responses":{"200":{"description":"Institution profile returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionProfileResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution profile matches the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/filings":{"get":{"tags":["entities","Institutions"],"summary":"Institution Form 13F filings","description":"Form 13F filing disclosures for a manager, including notice filings, amendments, information-table status, and disclosed notice/other managers.","operationId":"institutions.filings","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2026Q1"},{"name":"formType","in":"query","description":"SEC Form 13F type","required":false,"schema":{"type":"string"},"example":"13F-NT"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":20},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Institution Form 13F filings returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionFilingsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No Form 13F filings match the requested CIK/filters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/filings/{accessionNumber}":{"get":{"tags":["entities","Institutions"],"summary":"Institution Form 13F filing by accession","description":"Single Form 13F filing disclosure, including notice managers and other managers when available.","operationId":"institutions.filings.byAccession","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"accessionNumber","in":"path","description":"SEC accession number","required":true,"schema":{"type":"string"},"example":"0000102909-26-002707"}],"responses":{"200":{"description":"Institution Form 13F filing returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionFilingDTO"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No Form 13F filing matches the requested CIK/accession number","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/filing-periods":{"get":{"tags":["entities","Institutions"],"summary":"Institution Form 13F filing periods","description":"Quarterly Form 13F filing coverage for a manager, distinguishing holdings reports, notice-only periods, mixed periods, amendments, and metadata-only filings.","operationId":"institutions.filingPeriods","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"year","in":"query","description":"Calendar year","required":false,"schema":{"type":"integer","format":"int32"},"example":2026}],"responses":{"200":{"description":"Institution Form 13F filing periods returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionFilingPeriodsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No Form 13F filing periods match the requested CIK/year","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/holdings":{"get":{"tags":["holdings","Institutions"],"summary":"Institutional holdings","description":"Portfolio positions: ticker, shares, value (absolute USD), weight, CUSIP, security type. If no quarter is provided, the latest filing period is used.","operationId":"institutions.holdings","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2024Q3"},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"sort","in":"query","description":"Sort: value, shares, weight","required":false,"schema":{"type":"string"},"example":"value"}],"responses":{"200":{"description":"Institution holdings returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionsHoldingsResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution holdings match the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/holdings/history":{"get":{"tags":["holdings","Institutions"],"summary":"Historical institutional holdings","description":"Holdings across filing periods (quarterly snapshots). Position values are absolute USD.","operationId":"institutions.holdings.history","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"year","in":"query","description":"Calendar year","required":false,"schema":{"type":"integer","format":"int32"},"example":2024},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2024Q4"},{"name":"limit","in":"query","description":"Maximum holding rows to return per filing period","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"sort","in":"query","description":"Sort: value, shares, weight","required":false,"schema":{"type":"string"},"example":"value"}],"responses":{"200":{"description":"Institution holdings history returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionsHoldingsHistoryResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution holdings history matches the requested CIK/period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/changes":{"get":{"tags":["flows","Institutions"],"summary":"Quarter-over-quarter portfolio changes","description":"Precomputed 13F change metrics for a manager, including AUM (absolute USD), inferred buys/sells, additions, disposals, and turnover.","operationId":"institutions.changes","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label (compare to prior quarter)","required":false,"schema":{"type":"string"},"example":"2024Q3"}],"responses":{"200":{"description":"Institution change metrics returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionChangesResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution change metrics match the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/buys":{"get":{"tags":["flows","Institutions"],"summary":"Institution buys","description":"Full paginated list of securities whose reported 13F position increased versus the prior quarter. Set newOnly=true to return only new positions. If no quarter is provided, the latest available change snapshot is used.","operationId":"institutions.buys","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label (compare to prior quarter)","required":false,"schema":{"type":"string"},"example":"2024Q3"},{"name":"newOnly","in":"query","description":"Only include securities that were not held in the prior quarter","required":false,"schema":{"type":"boolean"},"example":true},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Institution buy activity returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionTradingActivityResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution buy activity matches the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/sells":{"get":{"tags":["flows","Institutions"],"summary":"Institution sells","description":"Full paginated list of securities whose reported 13F position decreased versus the prior quarter. Set soldOutOnly=true to return only fully exited positions. If no quarter is provided, the latest available change snapshot is used.","operationId":"institutions.sells","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label (compare to prior quarter)","required":false,"schema":{"type":"string"},"example":"2024Q3"},{"name":"soldOutOnly","in":"query","description":"Only include securities that were fully sold out in the current quarter","required":false,"schema":{"type":"boolean"},"example":true},{"name":"limit","in":"query","description":"Maximum rows to return","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"page","in":"query","description":"1-based page offset for pagination","required":false,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"Institution sell activity returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionTradingActivityResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution sell activity matches the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/sectors":{"get":{"tags":["holdings","Institutions"],"summary":"Sector allocation","description":"Precomputed disclosed portfolio breakdown by sector (technology, financials, etc.). If no quarter is provided, the latest available composition snapshot is used.","operationId":"institutions.sectors","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2024Q3"}],"responses":{"200":{"description":"Institution sector allocation returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionPortfolioCompositionResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution sector allocation matches the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/{cik}/industries":{"get":{"tags":["holdings","Institutions"],"summary":"Industry allocation","description":"Precomputed disclosed portfolio breakdown by industry/SIC. If no quarter is provided, the latest available composition snapshot is used.","operationId":"institutions.industries","parameters":[{"name":"cik","in":"path","description":"Institutional manager CIK","required":true,"schema":{"type":"string"},"example":"0000102909"},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2024Q3"}],"responses":{"200":{"description":"Institution industry allocation returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionPortfolioCompositionResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institution industry allocation matches the requested CIK/quarter","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}},"/v1/institutions/activity":{"get":{"tags":["flows","Institutions"],"summary":"Market-wide institutional activity","description":"Aggregated smart-money signals: most bought/sold names, new and closed positions. Values are absolute USD.","operationId":"institutions.activity","parameters":[{"name":"year","in":"query","description":"Calendar year","required":false,"schema":{"type":"integer","format":"int32"},"example":2024},{"name":"quarter","in":"query","description":"Fiscal quarter label","required":false,"schema":{"type":"string"},"example":"2024Q4"},{"name":"limit","in":"query","description":"Maximum rows per category","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Market-wide institutional activity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionsActivityResponse"}}}},"400":{"description":"Something in your request is missing or not valid. Check the fields and try again.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}},"404":{"description":"No institutional activity found for the requested period","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponseDTO"}}}}}}}},"components":{"schemas":{"InstitutionDTO":{"type":"object","description":"Institutional Form 13F filer summary","properties":{"cik":{"type":"string","description":"10-digit Central Index Key","example":"0000102909"},"name":{"type":"string","description":"Institutional manager display name","example":"VANGUARD GROUP INC"},"latestFormType":{"type":"string","description":"Most recent 13F form type filed by the manager","example":"13F-HR"},"latestAccessionNumber":{"type":"string","description":"Most recent 13F accession number"},"latestFilingDate":{"type":"string","format":"date","description":"Most recent 13F filing date","example":"2024-11-14"},"latestPeriodOfReport":{"type":"string","format":"date","description":"Most recent 13F period of report","example":"2024-09-30"},"latestReceivedDate":{"type":"string","format":"date-time","description":"Timestamp when the most recent filing was received"},"latestSourceUrl":{"type":"string","description":"SEC source URL for the most recent filing"},"filingCount":{"type":"integer","format":"int64","description":"Number of Form 13F filings stored for the manager","example":12},"latestPositionCount":{"type":"integer","format":"int64","description":"Number of holdings rows in the latest filing","example":4287},"latestSecurityCount":{"type":"integer","format":"int64","description":"Number of distinct CUSIPs in the latest filing","example":4271},"latestPortfolioValue":{"type":"number","description":"Aggregate latest 13F portfolio value in USD","example":4523100000}}},"InstitutionsFilterDTO":{"type":"object","description":"Filters applied to the institutions query","properties":{"q":{"type":"string","description":"Institution name search substring","example":"Vanguard"}}},"InstitutionsListResponse":{"type":"object","description":"Paginated institutional Form 13F filer directory response","properties":{"data":{"type":"array","description":"Institutional filers returned for the current page","items":{"$ref":"#/components/schemas/InstitutionDTO"}},"pagination":{"$ref":"#/components/schemas/InstitutionsPagination","description":"Pagination metadata for the current result set"},"filters":{"$ref":"#/components/schemas/InstitutionsFilterDTO","description":"Filters applied to the query"}}},"InstitutionsPagination":{"type":"object","description":"Pagination metadata for institution results","properties":{"page":{"type":"integer","format":"int32","description":"Current 1-based page number","example":1},"limit":{"type":"integer","format":"int32","description":"Maximum number of records requested per page","example":20},"hasMoreData":{"type":"boolean","description":"Whether another page of results is available","example":true}}},"ApiErrorDTO":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}},"request_id":{"type":"string"}}},"ErrorResponseDTO":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ApiErrorDTO"}}},"InstitutionChangesPeriodDTO":{"type":"object","description":"13F periods compared by an institution change snapshot","properties":{"currentQuarter":{"type":"string","description":"Current fiscal quarter label","example":"2024Q3"},"currentPeriodEnd":{"type":"string","format":"date","description":"Current 13F period end date","example":"2024-09-30"},"priorQuarter":{"type":"string","description":"Previous fiscal quarter label","example":"2024Q2"},"priorPeriodEnd":{"type":"string","format":"date","description":"Previous 13F period end date","example":"2024-06-30"},"accessionNumber":{"type":"string","description":"13F accession number for the current filing","example":"0000102909-24-000123"},"filingDate":{"type":"string","format":"date","description":"13F filing date for the current period","example":"2024-11-14"}}},"InstitutionTradingActivityFilterDTO":{"type":"object","description":"Filters applied to the institution trading activity query","properties":{"cik":{"type":"string","description":"Normalized institutional manager CIK","example":"0000102909"},"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q3"},"activityType":{"type":"string","description":"Activity direction","enum":["buy","sell"],"example":"buy"},"newOnly":{"type":"boolean","description":"When true, buy rows are limited to securities not held in the prior period","example":false},"soldOutOnly":{"type":"boolean","description":"When true, sell rows are limited to securities no longer held in the current period","example":false},"page":{"type":"integer","format":"int32","description":"Current 1-based page number","example":1},"limit":{"type":"integer","format":"int32","description":"Maximum number of records requested per page","example":20}}},"InstitutionTradingActivityResponse":{"type":"object","description":"Paginated quarter-over-quarter institutional 13F trading activity response","properties":{"cik":{"type":"string","description":"10-digit Central Index Key","example":"0000102909"},"name":{"type":"string","description":"Institutional manager display name","example":"VANGUARD GROUP INC"},"period":{"$ref":"#/components/schemas/InstitutionChangesPeriodDTO","description":"13F periods compared by this activity response"},"activityType":{"type":"string","description":"Activity direction","enum":["buy","sell"],"example":"buy"},"securities":{"type":"array","description":"Securities matching the selected activity direction","items":{"$ref":"#/components/schemas/InstitutionTradingActivitySecurityDTO"}},"pagination":{"$ref":"#/components/schemas/InstitutionsPagination","description":"Pagination metadata"},"filters":{"$ref":"#/components/schemas/InstitutionTradingActivityFilterDTO","description":"Filters applied to the query"}}},"InstitutionTradingActivitySecurityDTO":{"type":"object","description":"Quarter-over-quarter 13F trading activity for one security in an institution portfolio","properties":{"rank":{"type":"integer","format":"int64","description":"Rank within the selected activity direction","example":1},"ticker":{"type":"string","description":"Ticker symbol when matched to a security reference","example":"AAPL"},"issuerCik":{"type":"string","description":"Issuer CIK when matched to a security reference","example":"0000320193"},"cusip":{"type":"string","description":"CUSIP from the 13F information table","example":"037833100"},"issuerName":{"type":"string","description":"Issuer/security name","example":"APPLE INC"},"titleOfClass":{"type":"string","description":"13F title of class","example":"COM"},"putCall":{"type":"string","description":"Option side for 13F option rows","example":"CALL"},"currentShares":{"type":"number","description":"Current-period shares or principal amount","example":1000000},"priorShares":{"type":"number","description":"Previous-period shares or principal amount","example":900000},"netShares":{"type":"number","description":"Current minus previous shares or principal amount","example":100000},"currentValue":{"type":"number","description":"Current 13F value in USD","example":187420},"priorValue":{"type":"number","description":"Previous 13F value in USD","example":168000},"netValue":{"type":"number","description":"Current minus previous 13F value in USD","example":19420},"activityValue":{"type":"number","description":"Absolute value or share amount used to rank this activity row","example":19420}}},"InstitutionHoldingsPeriodDTO":{"type":"object","description":"13F filing period selected for institution holdings","properties":{"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q3"},"periodOfReport":{"type":"string","format":"date","description":"13F period of report","example":"2024-09-30"},"filingDate":{"type":"string","format":"date","description":"13F filing date","example":"2024-11-14"},"accessionNumber":{"type":"string","description":"13F accession number"}}},"InstitutionPortfolioCompositionDTO":{"type":"object","description":"Institutional Form 13F portfolio composition row","properties":{"rank":{"type":"integer","format":"int32","description":"Rank within the selected composition level","example":1},"sector":{"type":"string","description":"Sector label","example":"Technology"},"industry":{"type":"string","description":"Industry label for industry-level rows","example":"Semiconductors"},"sicCode":{"type":"string","description":"SIC code for industry-level rows","example":3674},"positionCount":{"type":"integer","format":"int64","description":"Number of holding rows in this allocation bucket","example":24},"securityCount":{"type":"integer","format":"int64","description":"Number of distinct CUSIPs in this allocation bucket","example":23},"value":{"type":"number","description":"Aggregate 13F position value in USD for this allocation bucket","example":1250000000},"portfolioWeightPercent":{"type":"number","description":"Percent of the selected 13F portfolio represented by this allocation bucket","example":12.345678}}},"InstitutionPortfolioCompositionFilterDTO":{"type":"object","description":"Filters applied to the institution portfolio composition query","properties":{"cik":{"type":"string","description":"Normalized institutional manager CIK","example":"0000102909"},"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q3"},"classificationLevel":{"type":"string","description":"Portfolio composition classification level","enum":["sector","industry"],"example":"sector"}}},"InstitutionPortfolioCompositionResponse":{"type":"object","description":"Institutional Form 13F portfolio composition response","properties":{"cik":{"type":"string","description":"10-digit Central Index Key","example":"0000102909"},"name":{"type":"string","description":"Institutional manager display name","example":"VANGUARD GROUP INC"},"period":{"$ref":"#/components/schemas/InstitutionHoldingsPeriodDTO","description":"Selected 13F filing period"},"classificationLevel":{"type":"string","description":"Portfolio composition classification level","enum":["sector","industry"],"example":"sector"},"totalPositionCount":{"type":"integer","format":"int64","description":"Total number of holding rows represented by this composition","example":4287},"totalSecurityCount":{"type":"integer","format":"int64","description":"Total number of distinct CUSIPs represented by this composition","example":4271},"totalPortfolioValue":{"type":"number","description":"Aggregate selected 13F portfolio value in USD","example":4523100000},"breakdown":{"type":"array","description":"Portfolio allocation rows for the selected classification level","items":{"$ref":"#/components/schemas/InstitutionPortfolioCompositionDTO"}},"filters":{"$ref":"#/components/schemas/InstitutionPortfolioCompositionFilterDTO","description":"Filters applied to the query"}}},"InstitutionProfileFilterDTO":{"type":"object","description":"Filters applied to the institution profile query","properties":{"cik":{"type":"string","description":"Normalized institutional manager CIK","example":"0000102909"},"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q3"}}},"InstitutionProfileResponse":{"type":"object","description":"Institutional Form 13F filer profile","properties":{"cik":{"type":"string","description":"10-digit Central Index Key","example":"0000102909"},"name":{"type":"string","description":"Institutional manager display name","example":"VANGUARD GROUP INC"},"formType":{"type":"string","description":"Selected 13F form type","example":"13F-HR"},"accessionNumber":{"type":"string","description":"Selected 13F accession number"},"filingDate":{"type":"string","format":"date","description":"Selected 13F filing date","example":"2024-11-14"},"periodOfReport":{"type":"string","format":"date","description":"Selected 13F period of report","example":"2024-09-30"},"receivedDate":{"type":"string","format":"date-time","description":"Timestamp when the selected filing was received"},"sourceUrl":{"type":"string","description":"SEC source URL for the selected filing"},"filingCount":{"type":"integer","format":"int64","description":"Number of Form 13F filings stored for the manager","example":12},"positionCount":{"type":"integer","format":"int64","description":"Number of holdings rows in the selected filing","example":4287},"securityCount":{"type":"integer","format":"int64","description":"Number of distinct CUSIPs in the selected filing","example":4271},"portfolioValue":{"type":"number","description":"Aggregate selected 13F portfolio value in USD","example":4523100000},"averagePositionValue":{"type":"number","description":"Average position value in USD"},"otherManagerCount":{"type":"integer","format":"int64","description":"Number of other managers disclosed on the selected filing","example":0},"filters":{"$ref":"#/components/schemas/InstitutionProfileFilterDTO","description":"Filters applied to the query"}}},"InstitutionHoldingDTO":{"type":"object","description":"Single Form 13F holding row","properties":{"ticker":{"type":"string","description":"Primary ticker symbol when known","example":"AAPL"},"issuerCik":{"type":"string","description":"Issuer CIK when known","example":"0000320193"},"issuerName":{"type":"string","description":"Issuer name reported in the holding row","example":"APPLE INC"},"titleOfClass":{"type":"string","description":"Security title/class","example":"COM"},"cusip":{"type":"string","description":"CUSIP","example":"037833100"},"putCall":{"type":"string","description":"Put/call marker for options positions"},"shares":{"type":"number","description":"Shares or principal amount held"},"shareType":{"type":"string","description":"Share type reported by SEC","example":"SH"},"value":{"type":"number","description":"Position value in USD"},"weightPercent":{"type":"number","description":"Position weight in the selected 13F portfolio"},"investmentDiscretion":{"type":"string","description":"Investment discretion"},"votingAuthoritySole":{"type":"integer","format":"int64","description":"Sole voting authority"},"votingAuthorityShared":{"type":"integer","format":"int64","description":"Shared voting authority"},"votingAuthorityNone":{"type":"integer","format":"int64","description":"No voting authority"}}},"InstitutionsHoldingsFilterDTO":{"type":"object","description":"Filters applied to the institution holdings query","properties":{"cik":{"type":"string","description":"Normalized institutional manager CIK","example":"0000102909"},"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q3"},"limit":{"type":"integer","format":"int32","description":"Maximum number of holding rows requested","example":100},"sort":{"type":"string","description":"Sort key","enum":["value","shares","weight"],"example":"value"}}},"InstitutionsHoldingsPagination":{"type":"object","description":"Pagination metadata for institution holdings results","properties":{"limit":{"type":"integer","format":"int32","description":"Maximum number of holding rows requested","example":100},"hasMoreData":{"type":"boolean","description":"Whether more holding rows are available","example":true}}},"InstitutionsHoldingsResponse":{"type":"object","description":"Institutional Form 13F holdings response","properties":{"cik":{"type":"string","description":"10-digit Central Index Key","example":"0000102909"},"name":{"type":"string","description":"Institutional manager display name","example":"VANGUARD GROUP INC"},"period":{"$ref":"#/components/schemas/InstitutionHoldingsPeriodDTO","description":"Selected 13F filing period"},"totalPositionCount":{"type":"integer","format":"int64","description":"Total number of holding rows in the selected filing","example":4287},"totalSecurityCount":{"type":"integer","format":"int64","description":"Total number of distinct CUSIPs in the selected filing","example":4271},"totalPortfolioValue":{"type":"number","description":"Aggregate selected 13F portfolio value in USD","example":4523100000},"holdings":{"type":"array","description":"Holding rows for the selected filing","items":{"$ref":"#/components/schemas/InstitutionHoldingDTO"}},"pagination":{"$ref":"#/components/schemas/InstitutionsHoldingsPagination","description":"Pagination metadata for holding rows"},"filters":{"$ref":"#/components/schemas/InstitutionsHoldingsFilterDTO","description":"Filters applied to the query"}}},"InstitutionHoldingsHistoryPeriodDTO":{"type":"object","description":"Institutional Form 13F holdings for one historical filing period","properties":{"period":{"$ref":"#/components/schemas/InstitutionHoldingsPeriodDTO","description":"Selected 13F filing period"},"totalPositionCount":{"type":"integer","format":"int64","description":"Total number of holding rows in the filing","example":4287},"totalSecurityCount":{"type":"integer","format":"int64","description":"Total number of distinct CUSIPs in the filing","example":4271},"totalPortfolioValue":{"type":"number","description":"Aggregate 13F portfolio value in USD","example":4523100000},"holdings":{"type":"array","description":"Holding rows for the filing period","items":{"$ref":"#/components/schemas/InstitutionHoldingDTO"}}}},"InstitutionsHoldingsHistoryFilterDTO":{"type":"object","description":"Filters applied to the institution holdings history query","properties":{"cik":{"type":"string","description":"Normalized institutional manager CIK","example":"0000102909"},"year":{"type":"integer","format":"int32","description":"Requested calendar year","example":2024},"quarter":{"type":"string","description":"Fiscal quarter label","example":"2024Q4"},"limit":{"type":"integer","format":"int32","descript
[...]
